/** We are going to go 'tableless' at one point. Just not now. **/

/*
 * Global
 */

#woopra-analytics-box {
	margin: 0 auto;
	text-align: left;
}

.woopra_options {
	float: right;
	display: inline;
	background: #fff;
	padding: 5px;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.woopra_options a {
	text-decoration: none;
}

/*
 * Tabs
 */

#woopra-super-tabs {
	margin: 0;
	list-style: none;
	padding-left: 11px;
}

#woopra-super-tabs a {
	font-size: 16px;
	padding: 5px 7px;
	line-height: 30px;
	text-decoration: none;
	outline: 0 none;
}

#woopra-super-tabs a.current {
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	-moz-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	color: #ff2222;
}

#woopra-super-tabs a.current {
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	background: #ffffff;
}

#woopra-super-tabs li, .woopra_subtabs li {
	display: inline;
	line-height: 200%;
	list-style: none;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.woopra_subtabs li {
	padding: 0 0 8px 17px;
}

.woopra_subtabs {
	margin: 0;
	list-style: none;
	padding: 6px 0 3px 0;
}

.woopra_subtabs a {
	text-decoration: none;
	outline: 0 none;
}

.woopra_subtabs a.current {
	color: #ff2222;
}

.woopra_subtabs li {
	font-size: 14px;
}

/*
 * Date Picker
 */

#woopra-datepickerdiv {
	margin: 8px 0 0 -150px;
	display: none;
	position: absolute;
	padding: 5px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ddd;
	background: #ffffff;
	
}

/*
 * Render View
 */

.woopra_table {
	width: 100%;
}


.woopra_table td, .woopra_table th {
	height: 20px;
	padding: 5px;
	border-bottom: 1px solid #dddddd;
}

.index {
	text-align: center;
	background: #CFCFCF !important;
	font-weight: bold;
}

.text-header, .text-item {
	text-align: center;
}

.highlight {
	font-weight: bold;
	background: #CFCFCF !important;
}

.bar {
	border: none;
	width: 400px;
	background: #FFFFFF !important;
}

span.ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	width: 450px;
	display:block;
}

.wlinechart {
	text-align: center;
	padding: 5px !important;
}

.tagged_renderer {
	height: 32px;
	padding-left: 38px;
}

.right {
	text-align: right;
}